#============================================================================
# Xcode
#============================================================================

## Похідні дані (місце, де Xcode зберігає індекси, кеш, продукти збірки)
DerivedData/
Build/

## Файли налаштувань користувача
*.xcodeproj/project.xcworkspace
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
*.swiftpm/xcode/package.xcworkspace/xcuserdata/

## Локальні файли Swift Package Manager
.build/
.swiftpm/

## Файли тестових запусків
*.xctestrun

#============================================================================
# Залежності (CocoaPods, Carthage)
#============================================================================

## CocoaPods
Pods/
*.podspec.json

## Carthage
Carthage/Build/
Carthage/Checkouts/

#============================================================================
# Системні файли macOS
#============================================================================
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes

#============================================================================
# Інше
#============================================================================

## Резервні копії редакторів
*~
*.swp
*.swo
